*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-color: #000430;
    --secondaryBackground:#171c48;
    --text:#fff;
    ---purple:#828dff;
    --teal:#24feee;
}
body
{
    background-color: var(--background-color);
    color: var(--text);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
    
}
.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(---purple);
    justify-content: space-between;
    display: flex;
    gap:20px;
    width: 30%;

}
.details{
    width: 100%;
}
#progressBar{
    width: 100%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 20px;
    transition: all 0.3s ease;
}
#progress{
    width: 10%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
}
#numbers{
    width: 100px;
    height:100px;
    background-color: var(---purple);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;


}
form{
    margin-top: 60px;
    width: 30%;
    display: flex;
    gap: 10px;
}
input{
    padding: 16px;
    flex: 1;
    background-color: var(--secondaryBackground);
    border: 2px solid var(---purple);
    border-radius: 10px;
    outline: none;
    color: var(--text);
    
}
button{
    padding: 16px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    color:var(--teal);
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    outline: none;
}
#task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 40%;

   
}
.taskItem{
   width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;

}
.task{
    display: flex;
   
    align-items: center;
    gap: 10px;
}
.task input{
    width: 25px;
    height: 25px;
}
.task.completed{
    text-decoration: line-through;
    color: var(--teal);
}
.taskItem img{
    width: 40px;
    height: 40px;
    margin: 0 10px;
    cursor: pointer;
}
